<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item" [ngClass]="{ disabled: currentPage === 0 }">
      <a class="page-link" href="#" (click)="setCurrentPageBack()">Previous</a>
    </li>
    <ng-container *ngFor="let image of images; let i = index">
      <li class="page-item" *ngIf="i < currentPage + 3 && i > currentPage - 3">
        <a
          class="page-link"
          [ngClass]="{ active: i === currentPage }"
          href="#"
          (click)="setCurrentPage(i)"
          >{{ i + 1 }}</a
        >
      </li>
    </ng-container>
    <li
      class="page-item"
      [ngClass]="{ disabled: currentPage === images.length - 1 }"
    >
      <a class="page-link" href="#" (click)="setCurrentPageNExt()">Next</a>
    </li>
  </ul>
  <div>
    <h4>{{ images[currentPage].title }}</h4>
    <img [src]="images[currentPage].url" />
  </div>
</nav>

<div [ngSwitch]=""></div>
